html {
    scroll-behavior: smooth;
}
:root {
    --cor-Pallet1: #282828;
    --cor-Pallet2: #191919;
    --cor-Pallet3: #ffffff;
}
.noselect{
    user-select: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    color: var(--cor-Pallet3);
    background: var(--cor-Pallet1);
    max-width: 100%;
}

progress {
    width: 30%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
}
progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
}
progress[value="1"]::-webkit-progress-value,
progress[value="2"]::-webkit-progress-value {
    background-color: #FF6347;
}
progress[value="3"]::-webkit-progress-value,
progress[value="4"]::-webkit-progress-value {
    background-color: #FFD700; 
}
progress[value="5"]::-webkit-progress-value,
progress[value="6"]::-webkit-progress-value {
    background-color: #4CAF50; 
}

header {
    background-color: var(--cor-Pallet2);;
    text-align: center;
    top: 0;
    z-index: 5;
    position: fixed;
    width: 100%;
}
header ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
}
header ul li {
    display: inline;
    margin: 0 10px;
}
header ul li a {
    color: var(--cor-Pallet3);
    background-color: var(--cor-Pallet1);
    padding: 10px;
    border: 1px solid var(--cor-Pallet3);
    border-radius: 15px;
    cursor: pointer;
}

section {
    margin: 30px;
    margin-top: 40px;  
}
p, #Projects li > ul{
    font-size: 110%;
    line-height: 30px;
}

#Tech{
    margin-bottom: 30px;
}
#tech-list {
    list-style: none;
    padding: 0;
    position: relative;
}
#tech-list li{
    display: inline-flex;
    margin: 5px;
}
#tech-list li img{
    height: 60px;
    width: 60px;
}

details summary {
    cursor: pointer; 
    font-weight: bold; 
    margin-left: 5px;
}

#Projects{
    list-style: none;
    padding: 0;
}
#Projects > li {
    border: 5px solid #0f1515;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
}
#Projects img{
    max-height: 100%;
    max-width: 100%;
}

#Dark,#Light{
	background-color: var(--cor-Pallet3);
	border-radius: 30px;
	cursor: pointer;
	color: var(--cor-Pallet1);
	font-family: Trebuchet MS;
	font-size: 17px;
	padding: 15px 30px;
}

footer {
    text-align: center;
    background-color: var(--cor-Pallet2);
    padding: 10px 0;
}
footer p a{
    font-size: 22px;
    padding: 10px;
    color: var(--cor-Pallet3);
    text-decoration: none;
}
