html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(148,187,233,1) 100%);
    max-width: 100%;
}

progress {
    width: 30%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
}
progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
}
progress[value="1"]::-webkit-progress-value,
progress[value="2"]::-webkit-progress-value {
    background-color: #FF6347;
}
progress[value="3"]::-webkit-progress-value,
progress[value="4"]::-webkit-progress-value {
    background-color: #FFD700; 
}
progress[value="5"]::-webkit-progress-value,
progress[value="6"]::-webkit-progress-value {
    background-color: #4CAF50; 
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    top: 0;
    z-index: 5;
    position: fixed;
    width: 100%;
}
header ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
}
header ul li {
    display: inline;
    margin: 0 20px;
}
header ul li a {
    color: #fff;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

section {
    margin: 30px;  
}
p, #Projects li > ul{
    font-size: 110%;
    line-height: 30px;
}

#Tech{
    margin-bottom: 30px;
}
#tech-list {
    list-style: none;
    padding: 0;
    position: relative;
}
#tech-list li{
    display: inline-flex;
    margin: 5px;
}
#tech-list li img{
    height: 55px;
    width: 55px;
}

details summary {
    cursor: pointer; 
    font-weight: bold; 
    margin-left: 5px;
}

#Projects{
    list-style: none;
    padding: 0;
}
#Projects > li {
    border: 2px solid #0f1515;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
}
#Projects img{
    max-height: 100%;
    max-width: 100%;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
footer p a{
    font-size: 22px;
    color:whitesmoke;
    padding: 10px;
}
