html {
    scroll-behavior: smooth;
}
:root {
    --cor-Pallet1: #282828;
    --cor-Pallet2: #191919;
    --cor-Pallet3: #ffffff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--cor-Pallet3);
    background: var(--cor-Pallet1);
    max-width: 100%;
}

#Tema{
    background-color: var(--cor-Pallet3);
    color: var(--cor-Pallet1);
    font-family: Trebuchet MS;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}

section {
    margin: 30px;
}
p{
    font-size: 125%;
    line-height: 25px;
    list-style-type: none;
}

#Projects{
    list-style: none;
    padding: 0;
}
#Projects > li {
    margin: 10px 0;
    padding: 10px;
}
#Projects img{
    margin-left: 40px;
    width: 200px;
    height: 200px;
}

#Sobre p:first-child{
    font-size: 200%;
    font-weight: bold;
}
#Sobre p:nth-child(2){
    font-size: 250%;
    font-weight: bold;
}
#Contato img{
    width: 45px;
    height: 45px;
    padding-right: 15px;
    margin-top: 10px;
}

#Skills img{
    width: 70px;
    height: 70px;
}
#Skills ul li{
    font-size: 110%;
    margin: 10px;
    font-weight: bold;
}
.badge {
    display: inline-flex;
	width: 90px;
	height: 90px;
	border-radius: 25%;
    align-items: center; 
    justify-content: center;
    background: whitesmoke;
}
