html {
    scroll-behavior: smooth;
}
:root {
    --cor-Pallet1: #282828;
    --cor-Pallet2: #191919;
    --cor-Pallet3: #ffffff;
}
.noselect{
    user-select: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 80px;
    padding: 0;
    color: var(--cor-Pallet3);
    background: var(--cor-Pallet1);
    max-width: 100%;
}

header {
    height: 100%;
    width: 88px;
    background-color: var(--cor-Pallet2);
    position: fixed;
    top: 0;
    left: 0;
}
header ul {
    list-style-type: none;
    margin-left: -40%;
}
header ul li {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    margin-bottom: 5px;
}
header ul li a {
    flex-grow: 1;
    color: var(--cor-Pallet3);
    background-color: var(--cor-Pallet1);
    padding: 10px;
    border: 1px solid var(--cor-Pallet3);
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
#Tema{
    background-color: var(--cor-Pallet3);
    color: var(--cor-Pallet1);
    font-family: Trebuchet MS;
}

section {
    margin: 30px;
}
#Sobre li{
    list-style: disc;
    padding-bottom: 8px;
}
p, #Projects li > ul, #Sobre ul{
    font-size: 110%;
    line-height: 30px;
    list-style-type: none;
}
#Tech{
    margin-bottom: 30px;
}
#tech-list {
    list-style: none;
    padding: 0;
    position: relative;
}
#tech-list li{
    display: inline-flex;
    margin: 5px;
}
#tech-list li img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
}
progress {
    width: 50%;
    height: 35px;
    border-radius: 10px;
    appearance: none;
    margin-bottom: 10px;
}
progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}
progress[value="1"]::-webkit-progress-value,
progress[value="2"]::-webkit-progress-value {
    background-color: #FF6347;
    border-radius: 10px;
}
progress[value="3"]::-webkit-progress-value,
progress[value="4"]::-webkit-progress-value {
    background-color: #FFD700;
    border-radius: 10px;
}
progress[value="5"]::-webkit-progress-value,
progress[value="6"]::-webkit-progress-value {
    background-color: #4CAF50; 
    border-radius: 10px;
}

details summary {
    cursor: pointer; 
    font-weight: bold; 
    margin-left: 5px;
}
#Projects{
    list-style: none;
    padding: 0;
}
#Projects > li {
    border: 5px solid #0f1515;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
}


#Contato {
    background-color: var(--cor-Pallet1);
    padding: 10px 0;
    color: var(--cor-Pallet3);
}
#Contato img{
    width: 50px;
    height: 50px;
    padding-right: 15px;
}
